.cognacgroup {
	box-sizing: border-box;
}
.cognacgroup ul li{
	display: inline-block;
	margin-left: 20px;	
}
.cognacgroup ul li:first-child{
	margin-left: 0px;
}
.cognacgroup a{
	display: block;
	padding: 7px 14px;
	margin:10px 0;
	color: white;
	background-color: #fff;
	color:  #000;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #555555;	
	font-size: 14px;	
}
.cognacgroup a:hover{
	background-color: #555555;
	color: #f4f4f4;	
	//border-bottom: 2px solid #555555;
}
.right-column {
	padding: 20px 0px 0px 20px;
	box-sizing: border-box;
}
.left-column {
	padding: 20px 0px 0px 20px;
	box-sizing: border-box;
}
.smoothly{
	-webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.btn-right{
	display: block;
	float: right;
	padding: 10px 0px;
	width: 140px;
	font-size: 15px;
	border-radius: 4px;
	background-color: #fff;
	margin-bottom: 10px;
	margin-right:10px; 
	color: #000;
}
.btn-right:focus{
	box-shadow: 0 0 0 0 #fff;	
}
.button-add:hover{
	background-color: #429667;
	color: #fff;
}
.button-re:hover{
  background-color: #477E9F;
  color: #fff;
}
.button-del:hover{
	background-color: #b93838;
	color: #fff;
}
.button-add{
	border: 2px solid #429667;
}
.button-re{
  border: 2px solid #477E9F;
}
.button-del{
	border: 2px solid #b93838;
}
.table td{
	text-align: left;
}
.table th{	
	text-align: left;
}
.selected{ 
	background: #d1e4dd;
}