* {
	padding:0;
	margin: 0;
}
html{
	height: 100%;
}
body{	
	height: 100%;	
	position:relative;
	background: #fff;
	background-attachment: fixed;
	background-size:cover;
}
a,a:hover,a:focus{
	text-decoration: none;
	color:inherit;
}
.container{				
	background-size: cover;	
	box-sizing: border-box;
}
.header{	
	display: table;
	width: 100%;
	height: 50px;
	color: white;
	background-color: #44404f;	
}
.row{
	padding: 0;
	margin: 0;
}
.smoothly{
	-webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

/*-------------------------------------------------------*/
.main-menu {
	display: block;	
  float: left;
  list-style: none;   
  margin-bottom: 0px; 
  height: 50px;
}
.list-report-button{
	display: block;	
	float: right;			
	height: 50px;
	vertical-align: middle;
}
.list-report-button > input{
	padding:15px;
	border: none;
	background-color: #44404f;
}
li.list-report-button > input:hover{
	background-color: #6d6a76;
}
.main-menu > li {
	display: block;
  position: relative;
  display: inline-block;  
}
.main-menu >li:not(:first-child){
	margin-left: -4px;
}
.admin-link{	
	display: block;
	padding:15px 20px;
	float: right;			
	height: 50px;	
}
.admin-link:hover{
	background-color: #6d6a76;
	color: #fff;
	cursor: pointer;
}
.main-menu li a.active{
	background-color: #6d6a76;
	color: #fff;
}
