.cognacgroup ul li{
	display: inline-block;
	margin-left: 20px;
}
.cognacgroup a{
	display: block;
	padding: 6px 10px;
	margin:10px 0;
	color: white;
	background-color: #fff;
	color:  #919191;
	text-decoration: none;
	border-radius: 8px;
	border: 1px solid #919191;
	font-size: 14px;
}
.cognacgroup a:hover{
	background-color: #919191;
	color: #fff;
}
.right-column {
	padding: 20px 0px 0px 20px;
	box-sizing: border-box;
}
.left-column {
	padding: 20px 10px 0px 10px;
	box-sizing: border-box;
}
.smoothly{
	-webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.btn-right{
	display: block;
	float: right;
	width:120px;
	height: 38px;
	font-size: 15px;
	border-radius: 10px;
	background-color: #fff;
	margin-bottom: 10px;
	margin-right:10px; 
	color: #797979;
}
.btn-right:active{
	box-shadow: 0 0 0 0 #fff;
	border: none;
}
.button-add:hover{
	background-color: #91D069;
	color: #fff;
}
.button-re:hover{
  background-color: #477E9F;
  color: #fff;
}
.button-del:hover{
	background-color: #D26E5C;
	color: #fff;
}
.button-add{
	border: 1px solid #91D069;
}
.button-re{
  border: 1px solid #477E9F;
}
.button-del{
	border: 1px solid #D26E5C;
}
.table td{
	text-align: left;
}
.table th{	
	text-align: left;
}
.selected{ 
	background: #d1e4dd;
}