.report-place{
	display: block;
	box-sizing: content-box;
	padding:14px;
	border: none;
	border-radius: 4px;
	background-color: #44404f;
}
.report-sample-list{
	display: block;
	box-sizing: content-box;
}
.load-report-1{
	display: block;
	box-sizing: content-box;
}