* {
	padding:0;
	margin: 0;
}
html{
	height: 100%;
	overflow: hidden;
}
.bg > a{	
	padding:8px 20px;
	float: right;
	margin-right: 15px; margin-top: 15px;*/
	text-decoration: none;	
	background-color: #ED5650;
	color: #fff;
	border-radius: 20px;
	font-size: 11px;
}
.bg > a:hover{
	text-decoration: none;
	background-color: #f07772;
}
body{	
	height: 100%;
	background: url("../images/iconbox-1.jpg") no-repeat 50% 50% ;
	background-attachment: fixed;	
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
}
.bg{	
	min-height: 100%;	
	background-color: rgba(255,255,255,0.9); 
	border-radius: 6px;	
}
.container{
	height: 100%;	
	padding-top: 50px;
	padding-bottom: 30px;	
	box-sizing: border-box;
}
.header h1{
	font-size: 40px;
	/*изменение шрифта медиа запросами*/
}
.header p{
	font-size: 34x;
}
 p{
	font-size: 20px;
}
.degustation{
	margin-top: 30px;
}
.start-btn{	
	margin-top: 30px;
	padding: 20px 40px;
	background-color: #ccc;
	background-color: #ED5650;
	color: #fff;
	border-radius: 50px;
	border:none;
	font-size: 18px;	
}
.start-btn:hover{
	background-color: #f28884; 
}
.smoothly{
	-webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
/*
.start-btn:focus,.start-btn:active{
	border: none;
	box-shadow: none;
}*/
#flying-bubbles{
	z-index: 0;
}
#bg{
	z-index: 100;
}
.sup{
	position: absolute;
	z-index: 100;
	height: 400px;
	width:400px;
	background-color: white;
}
.action:active .sup{
	display: none;
}
