.bg .return-main{
	float: left;
	margin-left: 15px;
}
.choose-send{		
	padding:16px 28px;	
	border: none;
	background-color: #ED5650;
	color: #fff;
	border-radius: 40px;
	font-size: 16px;
}
.choose-send:hover{
	text-decoration: none;
	background-color: #f07772;
	color: #fff;
}
.cd-wrapper{
	display: none;
	z-index: 10;
	position: absolute;
	left: 0px; top: 0px;
	height: 100%;
	width: 100%;
	background-color: #f2f2f2;
	overflow-y: hidden;
}
.list p,.list span{
	display:inline-block;
	padding:3px 10px;
	max-width:200px;
	background: #bbb;
}
.list p:hover{
	cursor: pointer;
}
.cognacgroup ul li{
	display:inline-block;
}
.rowrate{}
.cellrate{
	clear:both; 
   text-align:left;
}
.cellrate span{
padding-left:10px;
float:left;
padding-right:10px;
}
#form .rowrate input:nth-of-type(n+5){
	color:red;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}