.bg .return-main{
	float: left;
	margin-left: 15px;
}
.choose-send{		
	padding:16px 28px;	
	border: none;
	background-color: #ED5650;
	color: #fff;
	border-radius: 40px;
	font-size: 16px;
}
.choose-send:hover{
	text-decoration: none;
	background-color: #f07772;
	color: #fff;
}
.cd-wrapper{
	display: none;
	z-index: 10;
	position: absolute;
	left: 0px; top: 0px;
	height: 100%;
	width: 100%;
	background-color: #f7f7f7;
	overflow-y: scroll;
}

.cognacgroup ul{
	width:100%;
	margin-top:40px;
}

.cognac{
	display: block;
	border-radius: 10px;
	border:none;
	background-color: #ee6661;
	//background-color: #fff;
	//border:2px solid #ee6661;
	margin:14px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	width: 240px;	
	box-sizing: content-box;
	color:white;
}

.cognac span{
  color: #626262;
  display: inline-block;
  min-width: 240px;
  box-sizing: content-box;
}

.cognacgroup ul li{
	display:inline-block;
	padding:0;
	margin:0;

	color: #606060;
	//font-style: italic;
	font-weight: lighter;	
}
.cognacgroup ul li:not(:first-of-type){
	margin-left:-6px;
}
.cognacgroup ul li p:hover{
	cursor: pointer;
	color: white;
	background-color: #ed5650;
}
.cognacgroup ul li p{
	padding-bottom:0;
	margin-bottom:0;
	padding:4px 12px;
	border-radius: 50%;
}
.group{
	text-align:left;
}
.rowrate{
	margin-top:40px;
	box-sizing: content-box;
	text-align: center;
}
.rowrate p{
	text-align:center;
}
.cellrate{
	margin:5px auto;	
	line-height:25px;
	
}

.cellrate label{
	max-width:40%;
	min-width:150px;
	font-size:16px;
	color: #626262;
	font-weight: normal;
	//font-style: italic;
	text-align: left;
}
.cellrate input{	
	color: #272727;
  border: 1px solid #cac9c9;
  border-radius: 6px;
  padding:4px 10px; 
  font-size: 15px;
  width: 55px;
  box-sizing: border-box;
}
.cellrate input[type=number]{
	min-width:30px;
}
.cellrate input[type=number]+span{
	display:inline-block;
	padding-left:20px;
	font-style: italic;
	font-weight:600;
	color:#999;
}
.cellrate input[type=text]{
	width:280px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.congnac .main{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #448452;
	border-radius: 25px;
	color: #fff;
}

.cognac1 span{
	color: white;
	font-size: 20px;
}
.submit-cognac{
	padding: 25px 50px;
	background-color: #ee6661;
	color: #fff;
	//font-style: italic;
	font-size: 15px;
	border: none;
	border-radius: 40px;
	margin-top:30px;
}
.res-button{
	display:inline-block;

	height: 55px;
	width: 55px;
	background-color: #ed5650;
	border-radius: 30px;
	color: #fff;
	margin-left: 20px; font-size: 16px; border:none;
}
.rowrate .cellrate:first-of-type{
	margin-bottom:30px;
}
.rowrate>p{
	margin-top:30px;
}
.cancel-tast{
	display: inline-block;
	float: right;
	width: 45px;
	height: 45px;
	background-color: #ed5650;
	border-radius: 50%;
	font-size: 30px;
	font-family: 'Times new roman';
	border:none;
	color: #fff;
	margin-bottom: 40px;
}
.list p{
	display:block;
	padding:20px 0px;	
	background: #fff;
	text-align: center;
	border-radius: 20px;
	border: 2px solid #fff;
	font-size: 16px;
}
.list p:hover{	
	background: #f7f7f7;	
}
.list p:hover{
	cursor: pointer;
}