.bg .return-main{
	float: left;
	margin-left: 15px;
}
.choose-send{		
	padding:16px 28px;	
	border: none;
	background-color: #ED5650;
	color: #fff;
	border-radius: 40px;
	font-size: 16px;
}
.choose-send:hover{
	text-decoration: none;
	background-color: #f07772;
	color: #fff;
}
.cd-wrapper{
	display: none;
	z-index: 10;
	position: absolute;
	left: 0px; top: 0px;
	height: 100%;
	width: 100%;
	background-color: #f2f2f2;
	overflow-y: hidden;
}
.list p,.list span{
	display:inline-block;
	padding:3px 10px;
	max-width:200px;
	background: #bbb;
}
.list p:hover{
	cursor: pointer;
}
.cognacgroup ul{
	width:100%;
	margin-top:20px;
}
.cognacgroup ul li{
	display:inline-block;
	padding:0;
	margin:0;
	padding:3px 10px;
	background:#ddd;
}
.cognacgroup ul li p{
	padding-bottom:0;
	margin-bottom:0;
}
.group{
	text-align:left;
}
.rowrate{
	margin-top:40px;
}
.rowrate p{
	text-align:center;
}
.cellrate{
	margin:5px auto;
	width:300px;
	line-height:25px;
}
.rowrate .cellrate:last-of-type label{
	min-width:124px;
}
.cellrate label{
	max-width:40%;
	min-width:120px;
	font-size:16px;
}
.cellrate input{
	padding-left:5px;
}
.cellrate input[type=number]{
	min-width:50px;
}
.cellrate input[type=number]+span{
	display:inline-block;
	padding-left:20px;
	font-style: italic;
	font-weight:600;
	color:#999;
}
.cellrate input[type=text]{
	width:150px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

